@import "colors-waybar.css";

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    margin: 3px 15px 3px 0px;
    padding: 2px 10px 0px 10px;
    border-radius: 5px 5px 5px 5px;
    font-size:16px;
    font-weight:normal;
    color: @icon_color;
}

window#waybar *{
  margin: 0;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: .5s;
  padding: 0;
  margin: 0;
  border-radius: 21px;
}

window#waybar.empty #window {
    background-color: transparent;
}


/* window#waybar.hidden {
  opacity: 0.2;
} */

/* #waybar.horizontal {
  padding-left: 5px;
  padding-right: 5px;
} */