@import "colors-waybar.css";

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

window#waybar {
  margin: 6px 12px;                 /* jarak biar nggak nempel layar */
  padding: 4px 10px;                /* isi modul */
  font-size: 12px;
  font-weight: 800;
  background-color: alpha(@background, 0.4);
  transition: background-color .5s; /* lebih ringkas */
}

window#waybar.empty {
  background-color: transparent;    /* bar ilang kalau kosong */
}

window#waybar.hidden {
  opacity: 0.2;
}
