@import "colors-waybar.css";

/*
## ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓  ##
## ┃~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ GENERAL ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~┃  ##
## ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛  ##
*/

/* -----------------------------------------------------
* ANOTHER
* ----------------------------------------------------- */

#disk,
#mode,
#idle_inhibitor {
  padding: 0 6px;
  color:  @on_primary_container;
}

#disk {
  background-color: @on_surface_variant;
}

/* -----------------------------------------------------
* Power-Profiles-Daemon
* ----------------------------------------------------- */

label#power-profiles-daemon {
  margin: 5px;
  padding: 0 6px;
  background-color: alpha(@primary_container, 0.75);
}

#power-profiles-daemon {
  color: @on_primary_container;
}

/* -----------------------------------------------------
* Network
* ----------------------------------------------------- */

label#network {
  margin: 5px;
  padding: 0 6px;
  background-color: alpha(@primary_container, 0.75);
}

#network {
  color: @on_primary_container;
}

#network.ethernet {
  color: @pastel-green;
}

#network.disconnected {
  color: @secondary;
}