@import "colors-waybar.css";

/* -----------------------------------------------------
* ANOTHER
* ----------------------------------------------------- */

#disk,
#mode,
#idle_inhibitor {
  padding: 0 6px;
  color:  @on_primary_container;
}

/* -----------------------------------------------------
* Power-Profiles-Daemon
* ----------------------------------------------------- */

label#power-profiles-daemon {
  margin: 5px;
  padding: 0 6px;
  background-color: alpha(@primary_container, 0.75);
}

#power-profiles-daemon {
  color: @on_primary_container;
}

/* -----------------------------------------------------
* Network
* ----------------------------------------------------- */

label#network {
  margin: 5px;
  padding: 0 6px;
  background-color: alpha(@primary_container, 0.75);
}

#network {
  color: @on_primary_container;
}

#network.ethernet {
  color: @pastel-green;
}

#network.disconnected {
  color: @secondary;
}

/* ------------------------------------------------------
 * Workspaces positioning fix 
 * ---------------------------------------------------- */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}
