@import "colors-waybar.css";

/* -----------------------------------------------------
* ANOTHER
* ----------------------------------------------------- */

#memory,
#cpu,
#disk,
#temperature,
#custom-gpu_usage,
#mode,
#idle_inhibitor {
  padding: 0 6px;
  color:  @on_primary_container;
  font-size: 14px;
}

#cpu,
#memory,
#custom-gpu_usage {
  color: @primary;
}

/* -----------------------------------------------------
* Tray
* ----------------------------------------------------- */
#tray {
    /* padding: 0px 15px 0px 0px; */
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

label#network {
  margin: 5px;
  padding: 0 6px;
  background-color: alpha(@background, 0.75);
  border-radius: 15px;
}

/* -----------------------------------------------------
* Network
* ----------------------------------------------------- */
#network {
  color: @on_background;
  font-size: 14px;
}

#network.ethernet {
  color: @pastel_green;
}

#network.disconnected {
  color: @secondary;
}

/* ------------------------------------------------------
 * Workspaces positioning fix 
 * ---------------------------------------------------- */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}
