@import "colors-waybar.css";

label:focus {
  background-color: #000000;
}

#disk {
  background-color: @on_surface_variant;
}

/* -----------------------------------------------------
* temperature
* ----------------------------------------------------- */

#temperature {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 15px;
}

#temperature {
  color: @pastel-green;
  background-color: #f0932b;
}

#temperature.critical {
  color: @on_error_container;
  background-color: @error_container;
}

/* -----------------------------------------------------
* Tray
* ----------------------------------------------------- */
box#tray-container {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: alpha(@secondary_container, 0.75);
    border-radius: 15px;
    /* border: 2px solid alpha(@secondary-container,0.95); */
}

#tray {
    padding: 0px 0px 0px 0px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

/* -----------------------------------------------------
* Idle_Inhibitor
* ----------------------------------------------------- */

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

/* -----------------------------------------------------
* MPD
* ----------------------------------------------------- */

#mpd {
  color: #2a5c45;
}

#mpd.disconnected {
  color: #f53c3c;
}

#mpd.stopped {
  color: #90b1b1;
}

#mpd.paused {
  color: #51a37a;
}

/* -----------------------------------------------------
* keyboard
* ----------------------------------------------------- */

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}
