@import "colors-waybar.css";
@import "workspace.css";
@import "custom/dec.css";
@import "bar.css";
@import "general.css";
@import "stock.css";
@import "custom/startmenu.css";
@import "custom/launcher.css";
@import "custom/musiccontainer.css";
@import "custom/apptitle.css";
@import "custom/privacycontainer.css";
@import "custom/systemcontainer.css";
@import "custom/notificationcontainer.css";
@import "custom/firewallcontainer.css";
@import "custom/toolscontainer.css";
@import "custom/performancecontainer.css";

/*
## ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓  ##
## ┃~ ~ ~ ~ ~ ~ ~ ~ ~ ~ STYLE FOR ALL CONTENT & CONTAINER ~ ~ ~ ~ ~ ~ ~ ~ ~ ~┃  ##
## ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛  ##
*/

* {

  border: none;

  font-family: "SF Pro Display", "SF Pro Text", "SF Pro", "SF Mono", "SF Serif", sans-serif, "FiraCode", "Material Icons Round";

  font-size: 12px;
  font-weight: 800;

  border-radius: 15px;

}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */


tooltip {
    background-color: @surface;
    padding: 5px;
    margin: 0px;
}

tooltip label {
    color: @on_surface;
}