@import "colors-waybar.css";

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */


tooltip {
    background-color: @surface;
    padding: 5px;
    margin: 0px;
}

tooltip label {
    color: @on_surface;
}