/* -----------------------------------------------------
* Tray
* ----------------------------------------------------- */
box#tray-container {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: alpha(@secondary_container, 0.75);
    border-radius: 15px;
    /* border: 2px solid alpha(@secondary-container,0.95); */
}

/* #custom-tray-list {
  font-size: 13px;
  margin: 2px;
  padding-left: 5px;
  padding-right: 5px;
} */

#tray {
    padding: 0px 0px 0px 0px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}