@import "colors-waybar.css";

/*
## ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓  ##
## ┃~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ CONTENT ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~┃  ##
## ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛  ##
*/

#workspaces label {
  margin-left: 0px;
  margin-right: 0px;
}

#workspaces button {
  color: alpha(@on_primary_container, 0.35);
  background-color: transparent;
}

#workspaces button:hover {
  color: @on_primary_container;
  /* cursor: pointer; */
  background: alpha(@on_primary_container, 0.5);
}

#workspaces button.focused {
  color: @primary;
}

#workspaces button.active {
  color: @pastel-green;
}

#workspaces button.urgent {
  background-color: @error;
  color: @on_error;
}


/* ------------------------------------------------------
 * Workspaces positioning fix 
 * ---------------------------------------------------- */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}


/*
## ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓  ##
## ┃~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ CONTAINER ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~┃  ##
## ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛  ##
*/

box#workspaces {
  margin-top: 3px;
  margin-bottom: 5px;
  background-color:  alpha(@primary_container,0.7);
}