@import "colors-waybar.css";

#workspaces label {
  margin-left: 0px;
  margin-right: 0px;
}

#workspaces button {
  color: alpha(@on_primary_container, 0.35);
  background-color: transparent;
  border-radius: 15px;
}

#workspaces button:hover {
  color: @on_primary_container;
  /* cursor: pointer; */
  background: alpha(@on_primary_container, 0.5);
  border-radius: 15px;
}

#workspaces button.focused {
  color: @primary;
}

#workspaces button.active {
  color: @pastel-green;
}

#workspaces button.urgent {
  background-color: @error;
  color: @on_error;
}

box#workspaces {
  margin-top: 3px;
  margin-bottom: 5px;
  border-radius: 15px;
  background-color:  alpha(@primary_container,0.7);
}