@import "../colors-waybar.css";

label#custom-dot-alt {
  color: @tertiary;
}

label#custom-dot {
  color: @surface_variant;
}

label#custom-right-arrw,
label#custom-left-arrw {
  color: @tertiary;
  margin-left: 4px;
  margin-right: 4px;
}


#custom-arrow-dec {
  margin-left: 2px;
  color: @tertiary;
}