@import "../colors-waybar.css";

label#custom-dot-alt {
  color: @on_background;
}

label#custom-dot {
  color: @on_background;
}

label#custom-sp1,
label#custom-sp2,
label#custom-sp3,
label#custom-right-arrw,
label#custom-left-arrw {
  color: @on_background;
  margin-left: 4px;
  margin-right: 4px;
}


#custom-arrow-dec
#custom-arrow-dec-left {
  margin-left: 2px;
  color: @on_background;
}