@import "../colors-waybar.css";

#custom-power,
#custom-reboot,
#custom-quit,
#custom-exit {
  margin: 5px;
  padding-left: 3px;
  padding-right: 3px;
  color: @on_primary_container;
}

#custom-power:hover,
#custom-reboot:hover,
#custom-quit:hover,
#custom-exit:hover {
  color: @on_error_container;
}

box#launcher {
  margin: 5px;
  background-color: alpha(@primary_container,0.65);
}

box#launcher:hover {
  background-color: alpha(@error_container,0.65);
}

box#launcher .horizontal {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: alpha(@primary_container,0.98);
}