@import "../colors-waybar.css";

#custom-cava,
#custom-mpd-prev,
#custom-mpd-toggle,
#custom-mpd-next {
  margin: 2px;
  padding-left: 5px;
  padding-right: 5px;
  transition: transform 0.1s ease-in-out;
}

.cava .level0 { opacity: 0.6; }
.cava .level7 { font-weight: 700; }

#custom-mpd-prev:hover,
#custom-mpd-toggle:hover,
#custom-mpd-next:hover {
    color: @on_secondary_container;
}

#mpd {
  margin: 2px;
  padding-left: 5px;
  padding-right: 5px;
  color: #c0caf5;
}
    
#mpd-group:hover {
  background: @secondary_container;
}

box#mpd-group {
  margin: 5px;
  border-radius: 15px;
  background-color: alpha(@primary_container,0.65);
}

box#mpd-group .horizontal {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
  background-color: alpha(@primary_container,0.98);
}