@import "../colors-waybar.css";

#cpu,
#custom-gpu_usage,
#memory,
#custom-storage {
  margin: 2px;
  padding-left: 5px;
  padding-right: 5px;
  color:  @on_primary_container;
}

#temperature {
  margin: 2px;
  padding-left: 5px;
  padding-right: 5px;

  color: @pastel-green;
  background-color: alpha(#f0932b, 0.4);
}

#temperature.critical {
  color: @on_error_container;
  background-color: alpha(@error_container, 0.4);
}

box#performance {
  margin: 5px;
  background-color: alpha(@primary_container,0.65);
}

box#performance .horizontal {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: alpha(@primary_container,0.98);
}