@import "../colors-waybar.css";

#custom-start-menu {
  margin: 5px;
  padding-left: 14px;
  padding-right: 14px;
  color: @on_primary_container;
}

box#start-menu {
  margin: 5px;
  background-color: alpha(@primary_container,0.65);
}

box#launcher .horizontal {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: alpha(@primary_container,0.98);
}