@import "../colors-waybar.css";

#backlight,
#pulseaudio,
#custom-backlight,
#custom-pacman-update {
  margin-left: 2px;
  margin-right: 2px;
  color: @on_primary_container;
}

#backlight.text,
#pulseaudio.text,
#custom-backlight.text,
#custom-pacman-update.text {
  margin-left: 3px;
  margin-right: 3px;
  color: @on_primary_container;
}

#battery {
  color: @red;
}

#battery.text {
  color: @on_primary_container;
}

#battery.charging,
#battery.full,
#battery.plugged {
  color: @green;
  /* background-color: #26a65b; */
}

#battery.text.charging,
#battery.text.full,
#battery.text.plugged {
  color: @on_primary_container;
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-pacman-update.uptodate.text {
    color: green;
}


box#system-container {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: alpha(@primary_container, 0.75);
  border-radius: 15px;
  /* border: 2px solid alpha(@primary-container,0.95); */
}