@import "../colors-waybar.css";

/*
## ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓  ##
## ┃~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ CONTENT ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~┃  ##
## ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛  ##
*/

#custom-cliphist,
#custom-hyprshade,
#custom-hypridle,
#custom-gammastep,
#custom-tools {
  margin: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

#custom-hypridle.active {
  color: @icon_color;
}

#custom-hypridle.notactive {
  color: @error;
}

#custom-ml4w-welcome {
  margin-right: 12px;
  background-image: url("../../../themes/assets/ml4w-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-right: 20px;
}

/*
## ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓  ##
## ┃~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ CONTAINER ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~┃  ##
## ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛  ##
*/

box#tools {
  margin: 5px;
  background-color: alpha(@primary_container, 0.65);
}

box#tools .horizontal {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: alpha(@primary_container, 0.98);
}