@import "colors-waybar.css";

/* Perbaikan koma dan tambahan GPU */
label#cpu,
label#disk,
label#temperature,
label#memory,
label#network,
label#custom-gpu_usage {
  background-color: @background;
}

#memory,
#cpu,
#disk,
#temperature,
#network,
#custom-gpu_usage,
#mode,
#idle_inhibitor {
  padding: 0 6px;
  color: @on-background;
  font-size: 14px;
}

#cpu,
#memory,
#custom-gpu_usage {
  color: @primary;
}

#network.ethernet {
  color: @pastel-green;
}

#network.disconnected {
  color: @secondary;
}

#window {
  margin: 0 0px;
  border-radius: 0px;
  background-color: @background;
}

/* Workspaces positioning fix */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}
