/* ---- 💫  💫 ---- */

/* ---- Global Configuration Fonts ---- */
@import "~/.config/ml4w/settings/rofi-font.rasi"

/* ---- themes ---- */
@theme "~/.config/rofi/themes/ml4w-modern.rasi"

//@theme "~/.config/rofi/themes/KooL_style-4.rasi"